:root {
  /* colors */
  --primary-background-color: #ffffff;
  --primary-background-color-80: rgba(255, 255, 255, 0.8);
  --light: #ffffff;
  --button-hover: #6243ff;
  --button-disable: #aca7c3;
  --text: #3f3f3f;
  --text-color-title: #1c1b1f;
  --accent: #7b61ff;
  --high: #ff2b77;
  --medium: #e2a300;
  --low: #6bd475;
  --divider: #aca7c3;

  /* animation */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* shadow */
  --shadow-primary: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
}
